<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="data:image/svg+xml,%3Csvg fill='none' width='90' height='90' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3E%3Crect width='90' height='90' rx='20' fill='%231DB954'/%3E%3Cpath d='M33.009 30.85V22.5h8.51v9.897l6.962 1.16v-8.119h8.51v9.665L72 37.732v9.046l-54-9.51v-9.046l15.009 2.628ZM72 52.733v9.046L56.991 59.15v8.35h-8.51v-9.897l-6.962-1.16v8.119h-8.51v-9.665L18 52.268v-9.046l54 9.51Z' fill='%23fff'/%3E%3C/svg%3E">
  <title>modulate</title>
  <style>{% include "includes/style.css" %}</style>
  {% block head %}{% endblock %}
</head>
<body>
  <main class="content">
    {% block content %}{% endblock %}
  </main>

  {% block script %}{% endblock %}
</body>
</html>
