:root {
  /* Generic colors */
  --color-spotify-green: #1db954;
  --color-spotify-green-muted: #1db9544f;
  --color-spotify-green-darker: #0b8937;
  --color-red: #d3371b;

  /* Element-specific colors */
  --color-bg: #fff;
  --color-border: #ccc;
  --color-separator: #ddd;
  --color-secondary: #666;
  --color-body: #191414;
  --color-button-text: #fff;

  /* Font */
  --lh-base: 1.5;
  --lh-sm: 1.4;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-xl: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #191414;
    --color-border: #444;
    --color-separator: #666;
    --color-secondary: #ccc;
    --color-body: #fff;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: var(--color-body);
  line-height: var(--lh-base);
  background: var(--color-bg);
  padding: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1,
h2,
h3 {
  font-weight: 800;
}

strong,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h2 {
  var(--fs-xl);
}

h3 {
  font-size: var(--fs-base);
  line-height: var(--lh-sm);
}

h4 {
  font-size: var(--fs-sm);
  line-height: var(--lh-sm);
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.left {
  align-items: flex-start;
}

header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header a {
  margin-top: 0.1rem;
  font-size: var(--fs-sm);
  color: var(--color-secondary);
  text-decoration: none;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  letter-spacing: -0.5px;
}

header a:hover {
  text-decoration: underline;
  color: var(--color-body);
}

p,
label,
small {
  color: var(--color-secondary);
}

p.sm,
label,
small {
  font-size: var(--fs-sm);
  line-height: var(--lh-sm);
}

label {
  display: flex;
  justify-content: space-between;
}

label,
select {
  width: 100%;
  user-select: none;
}

select,
option,
input {
  color: var(--color-body);
  background: var(--color-bg);
}

input[type="checkbox"] {
  display: grid;
  place-content: center;
  flex-shrink: 0;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  border-radius: 0.25rem;
  border: 1px solid var(--color-border);
  font: inherit;
  color: currentColor;
  background: var(--color-bg);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  transform: scale(0);
  transition: transform 150ms ease-in-out;
  box-shadow: inset 1.25rem 1.25rem var(--color-spotify-green);
  border-radius: 0.125rem;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

select,
input {
  appearance: none;
  font-size: var(--fs-base);
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  transition: border 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

select:focus,
input:focus {
  outline: none;
  border-color: var(--color-spotify-green);
  box-shadow: 0 0 0 4px var(--color-spotify-green-muted);
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23888"><path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" /></svg>')
    no-repeat;
  background-position: center right 0.5rem;
  background-size: 20px;
  padding-right: 2.25rem;
}

a {
  color: var(--color-spotify-green-darker);
  text-decoration: underline;
}

a:hover {
  color: var(--color-body);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.separator {
  width: 6rem;
  height: 0.2rem;
  background: var(--color-separator);
}

.items,
.errors,
.watchers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.errors p {
  color: var(--color-red);
  font-size: var(--fs-sm);
}

.watchers {
  gap: 1.5rem;
}

.watchers a {
  color: var(--color-body);
  text-decoration: none;
}

.watchers a:hover {
  text-decoration: underline;
}

.item,
.watcher {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.watcher h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.watcher a {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.watcher a:has(svg) {
  gap: 0.25rem;
}

.watcher img {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
}

.watcher svg {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-spotify-green);
}

.split {
  display: flex;
  gap: 1rem;
}

.split > * {
  flex: 1;
}

.checkbox {
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.button {
  width: 100%;
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background: var(--color-spotify-green);
  color: var(--color-button-text);
  padding: 0.75rem 1rem;
  font-weight: 500;
  font-size: var(--fs-base);
  user-select: none;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.button:hover {
  color: var(--color-button-text);
  background: var(--color-spotify-green-darker);
}

.button:focus {
  background: var(--color-spotify-green-darker);
  box-shadow: 0 0 0 4px var(--color-spotify-green-muted);
}

.button svg {
  opacity: 0.6;
}

.link {
  display: inline-flex;
  appearance: none;
  font-size: inherit;
  background: none;
  border: none;
  color: var(--color-spotify-green-darker);
  text-decoration: underline;
  cursor: pointer;
}

.button.sm,
.link.sm {
  font-size: var(--fs-sm);
}

.link:hover {
  color: var(--color-body);
}

.hidden {
  display: none;
}

@media screen and (min-width: 640px) {
  body {
    padding: 2rem;
  }

  main {
    max-width: 375px;
  }

  select,
  input {
    font-size: var(--fs-sm);
  }
}

@media (prefers-color-scheme: dark) {
  a, .link {
    color: var(--color-spotify-green);
  }

  a:hover, .link:hover {
    color: var(--color-spotify-green-darker);
  }
}
