:root {
  --spotify-green: #1db954;
  --spotify-green-muted: #1db9544f;
  --spotify-green-darker: #16a247;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 2rem;
  color: #222;
}

h1,
h2 {
  font-weight: 700;
}

strong,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h2 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

section,
header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label,
small {
  display: block;
  font-size: 0.875rem;
  color: #666;
  line-height: 1.2;
}

label,
select {
  width: 100%;
  user-select: none;
}

input[type="checkbox"] {
  display: grid;
  place-content: center;
  flex-shrink: 0;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font: inherit;
  color: currentColor;
  background: #fff;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  transform: scale(0);
  transition: transform 150ms ease-in-out;
  box-shadow: inset 1.25rem 1.25rem var(--spotify-green);
  border-radius: 0.125rem;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

select,
input {
  appearance: none;
  font-size: 0.875rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  transition: border 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

select:focus,
input:focus {
  outline: none;
  border-color: var(--spotify-green);
  box-shadow: 0 0 0 4px var(--spotify-green-muted);
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23888"><path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" /></svg>')
    no-repeat;
  background-position: center right 0.25rem;
  background-size: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 640px) {
  .content {
    max-width: 300px;
  }
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.accent {
  width: 120px;
  height: 4px;
  background: var(--spotify-green);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.split {
  display: flex;
  gap: 0.5rem;
}

.split > * {
  flex: 1;
}

.checkbox {
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.button {
  width: 100%;
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background: var(--spotify-green);
  padding: 0.75rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  user-select: none;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.button:hover {
  background: var(--spotify-green-darker);
}

.button:focus {
  background: var(--spotify-green-darker);
  box-shadow: 0 0 0 4px var(--spotify-green-muted);
}

.button svg {
  opacity: 0.6;
}
