{% extends "includes/base.html" %}

{% block head %}
  <style>
    .accent {
      width: 120px;
      height: 4px;
      background: var(--spotify-green);
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .watcher {
      display: flex;
      gap: 0.5rem;
    }

    .watcher > * {
      flex: 1;
    }

    label, small {
      display: block;
      font-size: 0.875rem;
      color: #666;
    }

    label, select {
      width: 100%;
    }

    select {
      appearance: none;
      font-size: 0.875rem;
      padding: 0.75rem;
      border-radius: 0.5rem;
      border: 1px solid #ccc;
      transition: border 150ms ease-in-out, box-shadow 150ms ease-in-out;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23888"><path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" /></svg>') no-repeat;
      background-position: center right 0.25rem;
      background-size: 20px;
    }

    select:focus {
      outline: none;
      border-color: var(--spotify-green);
      box-shadow: 0 0 0 4px var(--spotify-green-muted);
    }
  </style>
{% endblock head %}

{% block content %}
  <h2>Hello, {{ name }}.</h2>
  <div class="accent"></div>

  {% if watchers.is_empty() %}
    <p>You don't have a watcher configured for your account. Create one below.</p>
    <form action="/watchers" method="post" class="items">
      <div class="item">
        <label for="from_playlist">From playlist</label>
        <select name="from_playlist" id="from_playlist" onchange="playlistUpdated()">
          <option value="{{ crate::model::playlist::LIKED_PLAYLIST_VALUE }}" selected>Liked Tracks</option>

          {% for playlist in playlists %}
            <option value="{{ playlist.id }}">{{ playlist.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="item">
        <label for="to_playlist">To playlist</label>
        <select name="to_playlist" id="to_playlist" onchange="playlistUpdated()">
          <option value="" disabled selected hidden>Select a playlist...</option>

          {% for playlist in playlists %}
            <option value="{{ playlist.id }}">{{ playlist.name }}</option>
          {% endfor %}
        </select>
      </div>

      <small>Tracks will be transferred every {{ crate::CONFIG.sync.interval_mins }} minutes.</small>
      <button id="submit" class="button" disabled>Create watcher</button>
    </form>
  {% else %}
    <p>You have a watcher configured for <strong>{{ watchers.len() }}</strong> of your playlists. Tracks will be transferred every {{ crate::CONFIG.sync.interval_mins }} minutes.</p>

    <div class="items">
      {% for watcher in watchers %}
        {{ watcher.from_playlist }} -&gt; {{ watcher.to_playlist }}
        <div class="watcher">
          <form action="/watchers/sync" method="post">
            <input type="hidden" name="from_playlist" value="{{ watcher.from_playlist.to_value() }}">
            <input type="hidden" name="to_playlist" value="{{ watcher.to_playlist.to_value() }}">
            <button class="button">Sync now</button>
          </form>

          <form action="/watchers/delete" method="post">
            <input type="hidden" name="from_playlist" value="{{ watcher.from_playlist.to_value() }}">
            <input type="hidden" name="to_playlist" value="{{ watcher.to_playlist.to_value() }}">
            <button class="button">Remove</button>
          </form>
        </div>
        {% endfor %}
      {% endif %}
    </div>
{% endblock content %}

{% block script %}
  <script>
    function playlistUpdated(e) {
      const fromPlaylistValid = !!document.querySelector('#from_playlist').value;
      const toPlaylistValid = !!document.querySelector('#to_playlist').value;
      if (!fromPlaylistValid || !toPlaylistValid) return;

      document.querySelector('#submit').disabled = false
    }
  </script>
{% endblock script %}
